
body{
    background-image: linear-gradient(to right, rgb(5, 6, 51), rgb(228, 228, 228));
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
}

fieldset{
    border: 3px solid rgb(30, 24, 61);

}

legend{
    border:1px solid rgb(5, 6, 51);
    padding: 10px;
    text-align: center;
    background-color:rgb(5, 6, 51);
    border-radius: 8px;

}

.inputBox{
     position: relative;
}

.inputUser{
    background: none;
    border: none;/*tirar a borda*/
    border-bottom: 1px solid black;
    outline: none;/*tirar a linha de fora do input*/
    color: rgb(252, 252, 252);
    font-size: 20px;
    width: 100%;
    letter-spacing: 2px;/*espaço entre cada caracter no input*/ 
}

.lableinput{/*animação das labels - nessa parte, as labels irão se encaixar dentro dos inputs*/
    position: absolute;/*vai ocupar apenas o elemento dela mesma*/
    top: 0px;
    left: 0px;
    pointer-events: none;/*qualquer lugar que eu clicar dentro do input, ele vai executar a ação*/
    transition: 5px;/*transição - para criaçao de efeito de animação personalizado*/
}

/*quando clicar no input eu quero que a label vai para cima do input - por isso a ação é no input*/

.inputUser:focus ~ .labelinput, /*executar uma ação na nossa label*/
.inputUser:valid ~ .labelinput{ /*quando  o input tiver válido, eu quero
                                  que ele execute essa ação para a label
                                  - a informação irá permanecer no 
                                 input, senão ira ficar por cima*/

    
    top: -20px;
    font-size: 20px;
    color: rgb(109, 97, 153);

}
